/*contenitore bottone*/
.select-button-wrapper {
    position: fixed;
    top: 40em;
    right: 2em;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
}

/*bottone*/
.button-fixed {
    padding: 1rem;
    background-color: #4b4a4a;
    color: #fff;
    border: none;
    width: 180px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-fixed:hover {
    background-color: #2a2828;
}

/*versione disabilitata*/
.button-disabled {
    background-color: #555;
    color: #aaa;
    cursor: default;
    pointer-events: none;
    opacity: 0.8;
}