/*contenitore principale*/
.comparison-table-container {
    max-width: 1000px;
    margin: 4rem auto 6rem;
    padding: 2rem 1rem 4rem;
    border-radius: 12px;
    color: #f2f2f2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

/*titolo principale*/
.comparison-table-container h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5em;
}

/*contenitore colonne telefono*/
.comparison-columns-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 2em;
}

/*colonna singola per telefono*/
.comparison-column {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*struttura interna telefono*/
.phone-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 280px;
    gap: 0.5em;
}

.phone-link {
    text-decoration: none;
    color: inherit;
}

/*box immagine telefono */
.phone-wrapper {
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.phone-wrapper:hover {
    transform: scale(1.03);
}

.phone-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/*titolo telefono*/
.phone-title {
    font-size: 1.15rem;
    font-weight: 700;
    margin-top: 0.5em;
    letter-spacing: 0.6px;
    color: #e8dfdf;
    transition: color 0.3s ease;
}

.phone-title:hover {
    color: #ffc83d;
}

/*bottone pref*/
.favorite-wrapper {
    margin-top: 0.3em;
}

/*immagine spade*/
.vs-symbols-wrapper {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vs-symbols-wrapper img {
    width: 60px;
    height: 60px;
}

/*tabella*/
.comparison-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2em;
    table-layout: fixed;
}

.comparison-table th,
.comparison-table td {
    width: 180px;
    padding: 0.8em;
    border: 1px solid #2c2c2c;
    text-align: center;
    font-size: 0.95rem;
}

.comparison-table th {
    background-color: #2a2a2a;
}

.comparison-table tbody tr:nth-child(even) {
    background-color: #1f1f1f;
}

/*bottone “seleziona almeno due telefoni"*/
.select-button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 9em;

}

.select-button-fixed {
    background-color: #4b4a4a;
    color: #fff;
    border: none;
    padding: 0.8em 1.8em;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.select-button-fixed:hover {
    background-color: #2a2828;
}

.comparison-column {
    width: 180px;
}

.comparison-table th,
.comparison-table td {
    width: 180px;
}